---
layout: default
---

<nav>
	<ul class="subnav">
		<li><a href="{{site.baseurl}}/blog/design/" class="{% if page.url contains 'design/' %}currentBlack{% endif %}">Design</a></li>
		<li>-</li>
		<li><a href="{{site.baseurl}}/blog/code/" class="{% if page.url contains 'code' %}currentBlack{% endif %}">Code</a></li>
		<li>-</li>
		<li><a href="{{site.baseurl}}/blog/life/" class="{% if page.url contains 'life' %}currentBlack{% endif %}">Life</a></li>
	</ul>
</nav>
<p class="centerText" id="feed-button"><i>Subscribe via RSS!</i>  <a href="{{site.baseurl}}/feed.xml"><span class="hb hb-xs hb-custom"><i class="fa fa-rss-square" ></i></span></a></p>

{{content}}